@media screen and (max-width: 1400px) {
  #home {
    padding-top: 10vh;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  section {
    padding-top: 11vh;
  }

  .header {
    top: 0;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #home {
    padding-top: 20vh;
    display: block;
  }
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .home-pic-container {
    width: 350px;
    height: 350px;
    margin: 0 auto 2rem;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }
}

@media screen and (max-width: 780px) {
  .title.home {
    font-size: 3rem;
  }
  .project-wrapper {
    display: block;
    justify-content: center;
    justify-items: center;
  }
  .swiper-button-prev,
  .swiper-button-next {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #home {
    padding-top: 20vh;
    height: 83vh;
    margin-bottom: 15vh;
  }
  .header {
    top: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  btn-container {
    flex-wrap: wrap;
  }
  .contact-info-upper-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container,
  .home-pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media screen and (max-width: 450px) {
  .btn-container.project {
    flex-direction: column;
    gap: 1rem;
    align-items: center;

  }
  .swiper-container {
    padding: 0 1rem 2rem 1rem;
    max-width: fit-content;
  }
}
