/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* TYPEWRITER EFFECT */

.typewriter {
  animation: typewriter 1.5s steps(12) 1s 1 normal both,
    cursor 600ms steps(40) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 6em;
  }
}

@keyframes cursor {
  from {
    border-right-color: gray;
  }

  to {
    border-right-color: transparent;
  }
}

/* DESKTOP NAV */

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 11;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 11vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE/HOME SECTION */

#home {
  display: block;
  justify-content: center;
  align-items: center;
}

.section__pic-container {
  display: flex;
  height: 900px;
  width: 400px;
  align-self: center;
}

.home-pic-container {
  margin-top: 2rem;
  display: flex;
  height: 400px;
  width: 400px;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

.profile-pic {
  border-radius: 20rem;
  border-style: solid;
  border-color: whitesmoke;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p1.home {
  font-size: 2rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.title.home {
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-size: 4rem;
  margin-bottom: 1rem;
  width: 24em;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.animated-icon:hover {
  rotate: 20deg;
  transition: all 200ms ease;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: 0.15rem solid rgb(53, 53, 53);
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-bottom: 100px;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.education-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.coursework-container {
  margin-top: 20px;
  margin-left: 5px;
  text-align: left;
}

.coursework-list {
  margin-left: 20px;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 2.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container {
  max-width: 60rem;
  text-align: center;
  margin: auto;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.project-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 1rem;
  padding: 2.5rem;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 5%;
  gap: 2.5rem;
}

.project-article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  max-width: 35%;
}

.project-details-wrapper {
  display: inline-block;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.project-text {
  justify-content: center;
  padding-bottom: 2rem;
}

.project-img {
  border-radius: 2rem;
  width: 25%;
  height: 25%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CAROUSEL */
.swiper {
  width: 95%;
  height: 100%;
}

.swiper-container {
  position: relative;
  padding: 2.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  max-width: 80%;
  margin: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.7rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  transform: scale(1.1);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  transform: scale(0.95);
}

.swiper-pagination-dots {
  text-align: center;
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
}

.contact-info-upper-container {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-btn-container {
  display: none;
}

/* FOOTER SECTION */

footer {
  margin-top: 7%;
  height: 20vh;
  padding: 0 20px;
  background: #fafafa;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.05);
  border-top: 1px solid #e5e7eb;
}

footer p {
  text-align: center;
  font-size: larger;
}